//Pantallas
$desktop: 1300px;
$mobile: 375px;

//Colores
$violet: hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);

//Tipo fuente
$fuenteUno: 'Poppins', sans-serif;
$fuenteDos: 'Open Sans', sans-serif;

//Pantallas
$movil : 375px;
$table : 768px;
$laptop: 1280px;


